<%= render "layouts/notice-box" %>

<div class="clear-fix">

  <div class="col-md-4" id="profile">
    <div class="panel panel-default animated fadeIn">

      <div class="panel-heading" id="profile-head">
        <div class="nav">
          <div class="navbar-left">
            <% if @user.avatar.attached? %>
							<%= image_tag @user.avatar.variant(resize_to_fill: [100, 100]), class: "img-fluid" %>
						<% else %>
							<%= image_tag "eye.jpg", width: 100, height: 100 %>
						<% end %>&nbsp&nbsp
          </div>
        </div>
      </div>

      <%= render "profile" %>

    </div>
  </div>

  <div class="col-md-8">
    <%= render @posts || "posts/post"  %>
  </div>
</div>
