<%= form_with(model: post, local: true) do |form| %>
  <div class="row clearfix animated fadeIn pulse">

    <% if post.errors.any? %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="panel">
          <div class="panel-default" id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
              <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <%= render "layouts/notice-box" %>

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">

        <div class="panel-heading" id="post-head">
          <div class="nav" >
            <div class="navbar-left" id="post-user-image">
              <%= image_tag post.user.image_url(:small), width: 50, height: 50, class: "img-circle" unless post.user.image_url.nil? %>&nbsp&nbsp
            </div>
            <div class="navbar-left" id="post-info">
              <%= link_to user_profile_path(post.user) do %>
                <p class="text-success btn" id="post-name"><%= post.user.name %></p>
              <% end %>
              <p class="text-default" id="post-time"><i class="fa fa-user-circle-o"> Editing</i></p>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <div class="field" id="edit-body">
              <%= form.text_area :body, id: "edit-text", class: "form-control", required: true %>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          <div class="btn btn-group">
            <div class="actions">
              <%= form.submit class: "btn btn-info" %>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
<% end %>
