<a class="navbar-brand" href="<%= user_signed_in? ? '/posts' : '/' %>" id="Zuckerbrand">
  <strong>Markbook</strong>
</a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav">
  <div class="navbar-nav me-auto" id="Zucker-search">
    <%= form_with url: posts_path, method: :get, class: "d-flex", local: true do |f| %>
      <%= f.text_field :key, placeholder: "Any Keywords", class: "form-control me-2", required: true %>
      <%= f.submit "Search", class: "btn btn-outline-light" %>
    <% end %>
  </div>

  <div class="navbar-nav" id="Zucker-menu">
    <div class="btn-group" role="group">
      <% if user_signed_in? %>
        <% if current_user.banned? %>
          <span class="badge bg-danger">You've been banned by Zucker</span>
        <% else %>
          <%= link_to new_post_path, class: "btn btn-outline-light" do %>
            <i class="fa fa-pencil"></i> Post
          <% end %>
        <% end %>
        <%= link_to edit_user_registration_path, class: "btn btn-outline-light" do%>
          <i class="fa fa-cog"></i> Account
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "Are you sure to leave?" }, class: "btn btn-outline-light" do%>
          <i class="fa fa-sign-out"></i> Sign Out
        <% end %>
      <% else %>
        <%= link_to user_registration_path, class: "btn btn-outline-light" do %>
          <i class="fa fa-user-plus"></i> Sign Up
        <% end %>
        <%= link_to new_user_session_path, class: "btn btn-outline-light" do %>
          <i class="fa fa-sign-in"></i> Sign In
        <% end %>
      <% end %>
    </div>
  </div>
</div>
